//Colors
$color-green:#30cf9e;
$color-gray:#908d8d;
$color-light-gray:#ced4da;

// Backgrounds
$background-green:rgb(11,221,197);
$background-gradiant-green:linear-gradient(90deg, rgba(11,221,197,1) 0%, rgba(51,205,153,1) 56%, rgba(0,255,96,1) 100%);
$background-gray:#f8f9fa;

//Typography
$fw-medium:500;
$fw-damibold:600;
$fw-regular:normal;

$fs-title:18px;
$fs-item-title:16px;
$fs-subtitle:13px;
$fs-caption:12px;
$fs-body:14px;
$fs-btn:15px;
